#root {
   display: flex;
   flex-direction: column;
   align-items: center;
}

body {
   margin: 0;
   font-family: Montserrat, sans-serif;
   font-weight: 500;
}

.page {
   padding: 10px 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

header {
   width: 90%;
}

header nav {
   background-color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 25px 0px;
}

header img {
   height: 40px;
}

header ul {
   list-style: none;
   display: flex;
   margin: 0;
   padding: 0;
   gap: 57px;
}

header a {
   text-decoration: none;
   color: black;
}

footer {
   background-color: black;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 30px 0 15px 0;
   text-align: center;
   gap: 12px;
   width: 100%;
}

footer img {
   height: 22px;
   margin-bottom: 10px;
}

footer div {
   font-size: 14px;
}

.dropdown {
   border-radius: 5px;
   margin-bottom: 10px;
   width: 45%;
}

.dropdown-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   cursor: pointer;
   background-color: #ff6060;
   border-radius: 5px;
   color: white;
}

.dropdown-header h2 {
   margin: 0;
   font-size: 1.2em;
}

.dropdown-arrow {
   width: 20px;
   transition: transform 0.3s ease;
}

.dropdown-arrow.open {
   transform: rotate(180deg);
}

.dropdown-content {
   background-color: #f7f7f7;
   padding: 10px 20px;
   font-size: 1em;
   line-height: 1.5;
}
