#root {
   display: flex;
   flex-direction: column;
   align-items: center;
   min-height: 100vh;
}

body {
   margin: 0;
   font-family: Montserrat, sans-serif;
   font-weight: 500;
   min-height: 100vh;
}

.page {
   padding: 10px 0px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   width: 90%;
}

header {
   width: 90%;
}

header nav {
   background-color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 25px 0px;
}

header img {
   height: 40px;
}

header ul {
   list-style: none;
   display: flex;
   margin: 0;
   padding: 0;
   gap: 57px;
}

header a {
   text-decoration: none;
   color: black;
}

.active {
   text-decoration: underline;
}

footer {
   background-color: black;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 30px 0 15px 0;
   text-align: center;
   gap: 12px;
   width: 100%;
   margin-top: auto;
}

footer img {
   height: 34px;
   margin: 22px;
}

footer div {
   font-size: 18px;
}

.banner {
   position: relative;
   background-image: url("/src/assets/images/banner_home.png");
   background-size: cover;
   background-position: center;
   height: 200px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-size: 22px;
   font-weight: bold;
   border-radius: 20px;
   overflow: hidden;
   box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
   max-width: 1500px;
}

.banner::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 1;
   border-radius: 10px;
}

.banner h1 {
   font-size: 48px;
   position: relative;
   z-index: 2;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000, 0 2px 4px rgba(0, 0, 0, 0.5);
   margin: 20px;
}

.dropdown {
   border-radius: 5px;
   margin-bottom: 10px;
}

.dropdown-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   cursor: pointer;
   background-color: #ff6060;
   border-radius: 5px;
   color: white;
}

.dropdown-header h2 {
   margin: 0;
   font-size: 1.2em;
}

.dropdown-arrow {
   width: 20px;
   transition: transform 0.3s ease;
}

.dropdown-arrow.open {
   transform: rotate(180deg);
}

.dropdown-content {
   background-color: #f7f7f7;
   padding: 10px 20px;
   font-size: 1em;
   line-height: 1.5;
   max-width: 100%;
}

@media only screen and (max-width: 580px) {
   header ul {
      gap: 25px;
   }
   footer img {
      margin-top: 30px;
      margin-bottom: 0px;
   }
   footer div {
      font-size: 11px;
      width: 30%;
      margin-bottom: 30px;
   }
   .banner {
      height: 110px;
   }
   .banner h1 {
      font-size: 24px;
   }
}

@media only screen and (max-width: 1060px) {
   .banner {
      height: 160px;
   }
   .banner h1 {
      font-size: 36px;
   }
}
